body.default {
    background-image: url("https://ctrhome.github.io/img/bgr.avif"),url("https://ctrhome.github.io/img/bgr2.avif");
    background-color: #5D67A3;
    background-size: 100vmax, 100vmax;
    background-repeat: no-repeat, repeat;
}

body.candyflick {
    background-image: url("https://ctrhome.github.io/img/bg-orange.jpg"),url("https://ctrhome.github.io/img/bg-orange.jpg");
    background-color: #F2A205;
    background-repeat: repeat, repeat;
}

body.experiments {
    background-image: url("https://ctrhome.github.io/img/expbg.webp");
    background-color: #1177EA;
    background-size: 100vw;
    background-repeat: repeat;
}

.holidaygiftbg {
    background-image: url("https://ctrhome.github.io/img/holidaybg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

body.timetravel {
    background-color: black;
}

.ttbg {
    background-image: url("https://ctrhome.github.io/img/ttbg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.ctr2bg {
    background-image: url("https://ctrhome.github.io/img/ctr2bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.magicbg {
    background-image: url("https://ctrhome.github.io/img/magicbg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}