body {
    color: white;
    font-family: GoodDog_New;
    margin: 0;
    margin-top: 67px;
    text-shadow: -1px 1px 2px #000, 1px 2px 6px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

@font-face {
    font-family: 'GoodDog_New';
    src: url('../../font/gooddog_new/gooddp__-webfont.woff2') format('woff2'), url('../../font/gooddog_new/gooddp__-webfont.woff') format('woff'), url('../../font/gooddog_new/gooddp__-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.game {
    margin: 50px;
    max-width:100vw;
    display: inline-block;
    vertical-align: top;
}

.platformdownload {
    text-align: center;
    display: inline-block;
    margin: 10px;
    width: 350px;
    max-width: 350px;
    vertical-align: top;
}

.fandiv {
    text-align: center;
    display: inline-block;
    margin: 10px;
    max-width: 600px;
    vertical-align: top;
}

.gallerydiv {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.galleryicon {
    width: 250px;
    height: auto;
}

.videodiv {
    text-align: center;
    display: inline-block;
    margin: 10px;
    width: 350px;
    max-width: 350px;
    vertical-align: top;
}

.platformicon {
    width: 80px;
    height: auto;
}

.fanicon {
    width: 200px;
    height: auto;
}
.gameImage {
    width: 150px;
    height: auto;
    max-width:100vw;
}
.logo {
    height: 50vmin;
    min-height: 100px;
}

.omnom {
    max-width: 397px;
    width: 50vh;
}

h2 {
    font-size: 50px;
    margin: 10px;
    font-weight: normal;
}

h3 {
    font-size: 25px;
    margin: 10px;
    font-weight: normal;
}

h1 {
    font-size: clamp(20px, 100px, 100vw); /* min-size, preferred-size, max-size */
    ;
    margin: 10px;
    font-weight: normal;
}

p {
    font-size: 30px;
    margin: 10px;
    font-weight: normal;
}

a {
    font-size: 30px;
    font-weight: normal;
    color: aqua;
}

    a.recommended {
        color: yellow;
    }

.navlogo {
    height: 30px;
}

@media (min-width: 923px) {
    .gameAbout {
        margin: auto;
        width: 80%;
        display: inline-block;
        text-align: left;
        max-width: 100vw;
        margin-top: 10px;
    }
        .gameAbout h1 {
            font-size: 80px;
        }

    .aboutImg {
        width: 250px;
        height: auto;
        max-width: 100vw;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 924px) {
    .gameAbout {
        margin: auto;
        width: 100%;
        display: inline-block;
        text-align: left;
        max-width: 100vw;
        margin-top: 10px;
    }
    .gameAbout h1 {
        font-size: 50px;
    }
    .aboutImg {
        width: 150px;
        height: auto;
        max-width: 100vw;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

